body {
  background-color: #e1dfdd;
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

 {
  writing-mode: vertical-rl;
  text-orientation: upright;
}